
body {
	margin: 0 1 0 0; 
	border-style: solid;
	border-bottom-width: 0px; 
	border-left-width: 0px; 
	border-right-width: 0px; 
	border-top-width: 0px; 
	border-color:#29A2DB;
}

textarea, input {
	font-family: inherit;
	font-size: 12px;
}

h1   {
	color:#fff; 
	background-color:#0099db; 
	padding: 50px;
}

p    {
	color:black;
}

.oilflows, .flowbutton, text {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
	font-size: 12px;
    width: 100%;
}

.oilflows td, .oilflows th {
    border: 1px solid #ddd;
    padding: 10px;
}
	
.oilflows tr:hover { background-color: #ddd; }

.oilflows th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0099db;
    color: white;
}

.oilflows tr:nth-child(even) { background-color: #f2f2f2; }

.flowbutton {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #0099db;
    color: white;
}

#save {
	width:20;
	align-content: left;
}

#cancel {
	width:20;
	align-content: center;
}

#flowEdit {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #ddd;
	color:white;
}

#editFormHeader {
	background-color: #0099db;
}

label {
	color:#0099db;	
}
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

div.tab input[type=text]{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}




	